@import "~src/app/shared/_mixins";

.mat-card {
  width: 80%;
  height: 90%;
}



@include xxsmall {
  .add {
    margin-left: calc(7% - 2px);
  }
}

@include xsmall {
  .add {
    margin-left: calc(5% - 16px);
  }
}
