<h1 mat-dialog-title>Create a New User</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input placeholder="Avatar URL" matInput [(ngModel)]="data.avatar">
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Name" matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <input placeholder="Date" matInput [matDatepicker]="picker" [(ngModel)]="data.date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker startView="year"></mat-datepicker>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
