.header {
  background-color: lightgray;
  height: 60px;
}

.header .heading {
  font-size: 40px;
  line-height: 60px;
  padding-left: 20px;
}

.container {
  max-width: 960px;
  margin: auto;
  background: white;
  height: 100%;
}

.title {
  font-size: 60px;
  margin: 20px;
}
