.user-detail {
  height: 100%;
}

.user-form {
  display: inline-block;
  width: 90%;
}

.avatar {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.action-buttons {
  float: right;
}

.edit,
.delete,
.save,
.cancel {
  display: block;
  margin: 5px;
}
